
body {
    background: #448;

    #log {
        background: black;
        color: green;
        height: 20em;
        width: 50%;
        border: inset silver 0.5em;
        border-radius: 0.5em;
        padding: 0.5em;
        overflow: scroll;
    }
}
